[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h5py = "*"
validators = "*"
tqdm = "*"
numpy = "*"
argparse = "*"
requests = "*"
ipykernel = "*"
panda = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
statsmodels = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
